 /* @import url('https://fonts.googleapis.com/css2?family=Ravi+Prakash&display=swap');

 @font-face {
    font-family: "Mak-Light";
    src: url("../fonts/19281.otf");
}  */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;500;700;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Dosis';
}

body {
    margin: 0;
}


header {
    padding: 60px;
    background: url(../imeges/bg.jpg) no-repeat fixed top center/cover;
    text-align: center;
    color: #fff;
}

header h1 {
    font-weight: 800;
}



nav {
    display: flex;
    background-color: #1abc9c;
    height: 50px;
    align-items: center;
}

nav a {
    color: #fff;
    padding: 7px 20px;
    text-decoration: none;
    font-weight: 200;
    font-size: 1.1em;
}

nav a:hover {
    background-color: #efebeb;
    color: #000;
}

nav label {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#checkbox-menu,
.toggle {
    display: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 0 1 30%;
    background-color: #f1f1f1;
    padding: 20px;
    font-weight: 200;
    width: 100%;
}

main {
    flex: 0 1 70%;
    background-color: #ddd4d4;
    padding: 20px;
    font-weight: 200;
    width: 100%;
}

.fake-img > img {
    width: 100%;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #1abc9c;
}

footer h2 {
    font-weight: 400;
}

@media screen and (max-width: 768px) {

    .row,
    nav {
        flex-direction: column;
        justify-content: center;
        height: auto;
        user-select: none;
    }

    .toggle {
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 2em;
    }

    label > a {
        display: none;
    }

   /* aside {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 50px;
    }*/


    #checkbox-menu:checked + label > a {
        display: block;
        text-align: center;
        height: auto;
        width: 100%;
    }

    label {
        flex-direction: column;
        align-items: center;
    }


}
